html,
body {
	padding: 0;
	margin: 0;
	background-color: #202020;
	color: #c7ddef;
}

body {
	font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
}

header {
	position: absolute;
	width: 500px;
	height: 250px;
	top: 30%;
	left: 50%;
	margin-top: -100px;
	margin-left: -250px;
	text-align: center;
}

header h1 {
	font-size: 60px;
	font-weight: 100;
	color: #c7ddef;
	margin: 0;
	padding: 0;
}

.main {
	position: absolute;
	top: 50%;
	left: 30%;
	margin-top: -80px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.steering {
	margin-bottom: 30px;
}
